*{margin: 0px;
    padding: 0px;}
    
    .main{
        /* background-color: aqua; */
        position: relative;
        width: 70%;
        margin: auto;
        top: 10rem;
        bottom: 8rem;
        display: flex;
        justify-content: center;
    }
    
    .d1{
        background-color: hsl(31, 77%, 52%);
        width: 30%;
        padding-left: 2rem;
        border-radius: 1rem 0rem 0rem 1rem;
    }
    
    .d2{
        background-color: hsl(184, 100%, 22%);
        width: 30%;
        padding-left: 2rem;
    }
    
    .d3{
        background-color: hsl(179, 100%, 13%);
        width: 30%;
        padding-left: 2rem;
        border-radius: 0rem 1rem 1rem 0rem;
    }
    
    #l1{}
    
    #l2{}
    
    #l3{}
    
    .logo{
        padding: 35px 0px;
    }
    
    .b1{}
    
    .b2{}
    
    .b3{}
    
    
    .d1 p{
    width: 14rem;
    line-height: 24px;
    padding: 1rem 0rem;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}
    
    .d1 h2{
    font-size: 2.3rem;
    padding: 10px 0px;
    color: white;
    letter-spacing: 0px;
    font-family: 'Big Shoulders Display', cursive;
}
    
    .d1 input{
    margin: 4rem 0px;
    padding: 12px 30px;
    border-radius: 3rem;
    background-color: white;
    margin: 4rem
rem
 0px;
    padding: 12px 40px;
    border-radius: 3rem;
    border: 1px solid;
    background-color: white;
    color: hsl(31, 77%, 52%);
    FONT-WEIGHT: 700;
}
    
    .d1 input:hover{ background-color: transparent;
        color: white;}
    
    
    .d2 p{
    width: 14rem;
    line-height: 24px;
    padding: 1rem 0rem;
    width: 14rem;
    color: white;
    line-height: 24px;
    padding: 1rem 0rem;
    font-family: 'Lexend Deca', sans-serif;
}
    
    .d2 h2{
    /* padding: 10px 0px; */
    font-size: 2.3rem;
    padding: 10px 0px;
    letter-spacing: -2px;
    font-size: 2.3rem;
    color: white;
    padding: 10px 0px;
    letter-spacing: 0px;
    font-family: 'Big Shoulders Display', cursive;
}
    
    .d2 input{
    margin: 4rem 0px;
    /* padding: 12px 30px; */
    /* border-radius: 3rem; */
    /* background-color: white; */
    margin: 4rem
rem
 0px;
    /* padding: 12px 40px; */
    /* border-radius: 3rem; */
    /* margin: 4rem 0px; */
    /* padding: 12px 30px; */
    /* border-radius: 3rem; */
    /* background-color: white; */
    margin: 4rem rem 0px;
    padding: 12px 40px;
    border-radius: 3rem;
    border: 1px;
    /* background-color: white; */
    background-color: white;
    color: hsl(184, 100%, 22%);
    FONT-WEIGHT: 700;
    margin: 4rem 0px;
    padding: 12px 30px;
    border-radius: 3rem;
    background-color: white;
    margin: 4rem rem 0px;
    padding: 12px 40px;
    border-radius: 3rem;
    border: 1px solid;
    background-color: white;
    /* color: hsl(31, 77%, 52%); */
    FONT-WEIGHT: 700;
}
    
    .d2 input:hover{background-color: transparent;
        color: white;}
    
    
    
    
    
    .d3 p{
    width: 14rem;
    line-height: 24px;
    padding: 1rem 0rem;
    width: 14rem;
    line-height: 24px;
    color: white;
    padding: 1rem 0rem;
    font-family: 'Lexend Deca', sans-serif;
}
    
    .d3 h2{
    /* padding: 10px 0px; */
    font-size: 2.3rem;
    padding: 10px 0px;
    letter-spacing: -2px;
    font-size: 2.3rem;
    padding: 10px 0px;
    color: white;
    letter-spacing: 0px;
    font-family: 'Big Shoulders Display', cursive;
}
    
    .d3 input{
    margin: 4rem 0px;
    padding: 12px 40px;
    border-radius: 3rem;
    border: 1px;
    background-color: white;
    color: hsl(179, 100%, 13%);
    FONT-WEIGHT: 700;
    margin: 4rem 0px;
    padding: 12px 30px;
    border-radius: 3rem;
    background-color: white;
    margin: 4rem rem 0px;
    padding: 12px 40px;
    border-radius: 3rem;
    border: 1px solid;
    background-color: white;
    /* color: hsl(31, 77%, 52%); */
    FONT-WEIGHT: 700;
}
    
    .d3 input:hover{background-color: transparent;
    color: white;}


    @media(min-width:300px) and (max-width:377px){

        *{
            margin: 0px;
            padding-top: 0px;
            }
            
            .main{
                /* background-color: aqua; */
                position: relative;
                width: 70%;
                /* margin: auto; */
                top: 2rem;
                bottom: 2rem;
                display: unset;
                align-items: center;
                padding-bottom: 1rem 0rem;
            }
            
            .d1{
                background-color: hsl(31, 77%, 52%);
                width: 80%;
                padding-left: 2rem;
                border-radius: 1rem 1rem 0rem 0rem;
                margin: auto;
            }
            
            .d2{
                background-color: hsl(184, 100%, 22%);
                width: 80%;
                padding-left: 2rem;
                margin: auto;
            }
            
            .d3{
                background-color: hsl(179, 100%, 13%);
                width: 80%;
                margin: auto;
                padding-left: 2rem;
                border-radius: 0rem 0rem 1rem 1rem;
                padding-bottom: 1rem 0rem;
            }
            
            #l1{}
            
            #l2{}
            
            #l3{}
            
            .logo{
                padding: 35px 0px;
            }
            
            .b1{}
            
            .b2{}
            
            .b3{}
            
            
            .d1 p{
            width: 14rem;
            line-height: 24px;
            padding: 1rem 0rem;
            font-family: 'Lexend Deca', sans-serif;
            color: white;
        }
            
            .d1 h2{
            font-size: 2.3rem;
            padding: 10px 0px;
            color: white;
            letter-spacing: 0px;
            font-family: 'Big Shoulders Display', cursive;
        }
            
            .d1 input{
            margin: 4rem 0px;
            padding: 12px 30px;
            border-radius: 3rem;
            background-color: white;
            margin: 4rem
        rem
         0px;
            padding: 12px 40px;
            border-radius: 3rem;
            border: 1px solid;
            background-color: white;
            color: hsl(31, 77%, 52%);
            FONT-WEIGHT: 700;
        }
            
            .d1 input:hover{ background-color: transparent;
                color: white;}
            
            
            .d2 p{
            width: 14rem;
            line-height: 24px;
            padding: 1rem 0rem;
            width: 14rem;
            color: white;
            line-height: 24px;
            padding: 1rem 0rem;
            font-family: 'Lexend Deca', sans-serif;
        }
            
            .d2 h2{
            /* padding: 10px 0px; */
            font-size: 2.3rem;
            padding: 10px 0px;
            letter-spacing: -2px;
            font-size: 2.3rem;
            color: white;
            padding: 10px 0px;
            letter-spacing: 0px;
            font-family: 'Big Shoulders Display', cursive;
        }
            
            .d2 input{
            margin: 4rem 0px;
            /* padding: 12px 30px; */
            /* border-radius: 3rem; */
            /* background-color: white; */
            margin: 4rem
        rem
         0px;
            /* padding: 12px 40px; */
            /* border-radius: 3rem; */
            /* margin: 4rem 0px; */
            /* padding: 12px 30px; */
            /* border-radius: 3rem; */
            /* background-color: white; */
            margin: 4rem rem 0px;
            padding: 12px 40px;
            border-radius: 3rem;
            border: 1px;
            /* background-color: white; */
            background-color: white;
            color: hsl(184, 100%, 22%);
            FONT-WEIGHT: 700;
            margin: 4rem 0px;
            padding: 12px 30px;
            border-radius: 3rem;
            background-color: white;
            margin: 4rem rem 0px;
            padding: 12px 40px;
            border-radius: 3rem;
            border: 1px solid;
            background-color: white;
            /* color: hsl(31, 77%, 52%); */
            FONT-WEIGHT: 700;
        }
            
            .d2 input:hover{background-color: transparent;
                color: white;}
            
            
            
            
            
            .d3 p{
            width: 14rem;
            line-height: 24px;
            padding: 1rem 0rem;
            width: 14rem;
            line-height: 24px;
            color: white;
            padding: 1rem 0rem;
            font-family: 'Lexend Deca', sans-serif;
        }
            
            .d3 h2{
            /* padding: 10px 0px; */
            font-size: 2.3rem;
            padding: 10px 0px;
            letter-spacing: -2px;
            font-size: 2.3rem;
            padding: 10px 0px;
            color: white;
            letter-spacing: 0px;
            font-family: 'Big Shoulders Display', cursive;
        }
            
            .d3 input{
            margin: 4rem 0px;
            padding: 12px 40px;
            border-radius: 3rem;
            border: 1px;
            background-color: white;
            color: hsl(179, 100%, 13%);
            FONT-WEIGHT: 700;
            margin: 4rem 0px;
            padding: 12px 30px;
            border-radius: 3rem;
            background-color: white;
            margin: 4rem rem 0px;
            padding: 12px 40px;
            border-radius: 3rem;
            border: 1px solid;
            background-color: white;
            /* color: hsl(31, 77%, 52%); */
            FONT-WEIGHT: 700;
        }
            
            .d3 input:hover{background-color: transparent;
            color: white;}
        
    }